@import url('https://fonts.googleapis.com/css?family=Pacifico|Quicksand|Ubuntu');
body{
background-color: #1f1f1f !important;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%231a1a1a' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
background-size: auto auto;to;
}

header{
	background-image: url('https://images.wallpaperscraft.com/image/laptop_cup_glasses_plant_114948_1366x768.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
	background-size: auto;
	height: 768px;
	;
}

.font-logo{
	font-family: 'Ubuntu';
}

.grid-header{
	padding-top: 50px;
	display: grid;
	grid-template: 
	"header-texto header-info"
	;
	grid-template-columns: 90vh auto auto;
}

.header-texto{
	grid-area: header-texto;
	font-family: 'Quicksand';
}

.header-info{
	grid-area: header-info;
}

.texto-dev{
	font-family: 'ubuntu';
}

.header-btn{
	border: solid 1px white;
	border-radius: 5px;
}

.header-flex{
	padding-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

}

.skills{
	height: 80px;
	width: 80px;
}

.social-flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center; 
}

.social-item{
	font-size: 30px;
	border: solid 1px white;
	border-radius: 5px;
	margin: 30px;
	padding: 10px;
}

@media(max-width: 767px){
	.grid-header{
		grid-template: 
		"header-texto"
		"header-info"
		;
	}

	header{
		height: 700px;
	}

	.skills{
	height: 70px;
	}

	.skillos{
	height: 79px;
	padding-left: 3px;
	}

	.header-flex{
	justify-content: space-between;
	padding-right: 10px; 
	}	
}